<app-header-action [index]='17'></app-header-action>
<form [formGroup]="leaveForm" class="p-base">
  <div class="row">
    <div class="col-sm-6">
      <p>Leave Type for Student</p>
      <div class="container-fluid" style="margin-top:5px" formArrayName="studentLeave">
        <div [formGroupName]="i" *ngFor="let leave of studentLeave.controls; let i=index">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field appearance="standard">
                <mat-label attr.for="{{'studentleave' + i}}">StudentLeave Type</mat-label>
                <input id="{{'studentleave' + i}}" matInput formControlName="studentLeave">
              </mat-form-field>

              <img *ngIf="leave.enabled" src="../../../../assets/save.png" (click)="changeandunchangeForStudentLeave(true,i)" 
                class="icon" style="margin-Top: 25px; cursor: pointer; width: 25px;height: 25px;float:right">

                <img *ngIf="leave.disabled"  src="../../../../assets/edit.png" (click)="changeandunchangeForStudentLeave(false,i)" 
                class="icon" style="margin-Top: 25px; cursor: pointer; width: 25px;height: 25px;float:right">

                <img *ngIf="enabletrashForStudentLeave" src="../../../../assets/trash.png" (click)="deleteForStudentLeave(i)" 
                class="icon"
                    style="margin-Top: 25px; cursor: pointer; width: 25px;height: 25px;float:right;padding-left:5px;"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-1">
            <img src="../../../assets/plus.png" (click)="addStudentleave()" alt="profile" style="height:55px;">
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6">
      <p>Leave Type for Staff</p>
      <div class="container-fluid" style="margin-top:5px" formArrayName="staffLeavearr">
        <div [formGroupName]="k" *ngFor="let leave of staffLeavearr.controls; let k=index">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field appearance="standard">
                <mat-label attr.for="{{'staffLeavearr' + k}}">StaffLeave Type</mat-label>
                <input id="{{'staffLeavearr' + k}}" matInput formControlName="staffLeave">
              </mat-form-field>

              <img *ngIf="leave.enabled" src="../../../../assets/save.png" (click)="changeandunchangeForStaffLeave(true,k)" 
                class="icon" style="margin-Top: 25px; cursor: pointer; width: 25px;height: 25px;padding-left:0%">

                <img *ngIf="enabletrashForStaffLeave" src="../../../../assets/trash.png" (click)="deleteForStaffLeave(k)" 
                class="icon"
                    style="margin-Top: 25px; cursor: pointer; width: 25px;height: 25px;float:right;"/>

                <img *ngIf="leave.disabled"  src="../../../../assets/edit.png" (click)="changeandunchangeForStaffLeave(false,k)" 
                class="icon" style="margin-Top: 25px; cursor: pointer; width: 25px;height: 25px;padding-left:0%">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-1">
            <img src="../../../assets/plus.png" (click)="addStaffleave()" alt="profile" style="height:55px;">
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- <button (click) = "addExperience()"> Add Experience</button> -->
</form>

<!-- <p>
  {{experienceForm.value | json}}
</p> -->