<app-header-action [index]='7'></app-header-action>
<div class="container-fluid" style="margin-top:5px;">
    <div *ngFor="let sub of subjectlist; let i=index">
        <app-subjects [expData]="sub" (btnEvent)="eventCatch($event)"></app-subjects>
    </div>
</div>

<!-- <button mat-icon-button class="btnIcon" (click)="addSubject()" [disabled]="addButton">
    <img src="../../../assets/plus.png" alt="profile" style="height:55px;">
</button> -->

<button mat-icon-button class="btnIcon" (click)="addSubject()" [disabled]="addButton">
    <mat-icon>add</mat-icon>
</button>

<simple-notifications></simple-notifications>