<!-- lesson  -->
<div class="flex-content">

    <!-- <app-classes [title]="std.class"  *ngFor="let std of standard; let i=index"></app-classes> -->
    <div class="flex-child"  *ngFor="let sub of standard[0].subjects; let i=index">
        
        <div class="card mat-body-strong" [ngStyle]="{'background-color':getColor(sub)}" (click)="navigate(sub)">
            
            <span class="mat-title">{{sub}}</span>
        </div>
        <span class="circle" >in progress</span>
        
    </div>
</div>              