<div class="container-upload">
    <!-- <button [disabled]="disabled" [ngClass]="{'disabled': disabled}" class="button upload" (click)="inputFile.click()">
        UPLOAD
    </button> -->
    <label>
        <img src="../../../../assets/attachment.png" class="icon" style="height: 25px;"
            (click)="inputFile.click()" />
            <!-- <mat-icon color="primary">
                    check_circle</mat-icon> -->
        <!--<h3 >Attachment  </h3> -->
    </label>
    <input name="file" id="file"(change)="upload($event)" type="file" #inputFile hidden>
</div>