<div class="row" style="margin-bottom:15px;">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <label>
        <h3>Attachment <img src="../../../../assets/attachment.png" class="icon" style="height: 25px;"
                (click)="file.click()" />
            <!-- <mat-icon color="primary">
                    check_circle</mat-icon> -->
        </h3>
    </label>
    <!-- <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button> -->
    <div class="col-md-6">

        <span class="upload" *ngIf="progress > 0">
            {{progress}}%
        </span>
        <span class="upload" *ngIf="message">
            {{message}}
        </span>
    </div>
    <div class="col-sm-2">
        <mat-icon *ngIf="imgPath==='PDF'">picture_as_pdf
        </mat-icon>

        <img *ngIf="imgPath!=='PDF'"  [src]="imgPath" alt="upload spaces" style="width:60px; height:60px;">

    </div>
</div>