<div class="tt-editor">
    <div mat-dialog-content>
        <form [formGroup]="slotForm">
            <div>
                <mat-form-field appearance="standard">
                    <mat-label>Subjects</mat-label>
                    <mat-select formControlName="subject">
                        <mat-option *ngFor="let i of subjects" [value]="i.viewValue">{{i.viewValue}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div>
                <mat-form-field appearance="standard">
                    <mat-label>Staff</mat-label>
                    <mat-select formControlName="staff">
                        <mat-option *ngFor="let i of staff" [value]="i.viewValue">{{i.viewValue}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div>
                <mat-form-field appearance="standard">
                    <mat-label>Start Time</mat-label>
                    <input matInput type="time" formControlName="startTime">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="standard">
                    <mat-label>End Time</mat-label>
                    <input matInput type="time" formControlName="endTime">
                </mat-form-field>
            </div>

        </form>
    </div>

    <div mat-dialog-actions class="action-btn">

        <button mat-stroked-button color="primary">Save</button>
        <button mat-button (click)="close(false)">Cancel</button>

    </div>
</div>