<form [formGroup]="tripDetailForm" class="p-base">
    <div class="container-fluid" style="margin-top:5px">
        <div class="row">
            <div class="col-sm-3"> 
                <mat-form-field appearance="standard">
                    <mat-label>Start Time</mat-label>
                    <input matInput type="time" formControlName="tripTimingFrom">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Trip Number</mat-label>
                    <input matInput formControlName="tripNumber">
                </mat-form-field>    
                <mat-form-field appearance="standard">
                    <mat-label>Trip Areas</mat-label>
                    <input matInput formControlName="tripAreas">
                </mat-form-field> 
                <mat-form-field appearance="standard">
                    <mat-label>Bus Number</mat-label>
                    <mat-select formControlName="busNumbersList" (selectionChange)="LoadDriverDetails($event)">
                        <mat-option *ngFor="let busAndDriverDetail of busAndDriverDetails " 
                                [value]="busAndDriverDetail">
                            {{busAndDriverDetail.busNumber}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>   
                <mat-form-field appearance="standard">
                    <mat-label>Driver Name</mat-label>
                    <input matInput formControlName="driverName" readonly>
                </mat-form-field> 
                <mat-form-field appearance="standard">
                    <mat-label>Driver Number</mat-label>
                    <input matInput formControlName="driverNumber" readonly>
                </mat-form-field> 
            </div>
            <div class="col-sm-3">
                    <mat-form-field appearance="standard">
                        <mat-label>End Time</mat-label>
                        <input matInput type="time" formControlName="tripTimingTo">
                    </mat-form-field>               
            </div>
            <input type="hidden" formControlName="busesAndDriverId" value="">
        </div>
    </div>

</form>