
<form [formGroup]="eletterfrm" (ngSubmit)="onSubmit()" class="p-base">
    <app-header-action [index]='2'></app-header-action>
    <div class="container-fluid" style="margin-top: 5px;">
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Employee ID</mat-label>
                    <mat-select formControlName="empid" (selectionChange)="empidchange($event)">
                        <mat-option *ngFor="let emp of employeeid"  [value]="emp.employeeId">
                            {{emp.employeeId}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Staff Name</mat-label>
                    <input matInput value="" formControlName="staffName" [value]="staffName" [disabled]="disableTeacherDetails" >
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Letter Type</mat-label>
                    <mat-select formControlName="letterType">
                        <mat-option *ngFor="let letterType of letterTypes" [value]="letterType.viewValue">
                            {{letterType.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Department</mat-label>
                    <input matInput value="" formControlName="department" [value]="departmentName" [disabled]="disableTeacherDetails" >
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Month</mat-label>
                    <mat-select formControlName="month">
                        <mat-option *ngFor="let months of month" [value]="months.viewValue">
                            {{months.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Teacher ID</mat-label>
                    <input matInput value="" formControlName="teacherId" [value]="teacherId" [disabled]="disableTeacherDetails" >
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Year</mat-label>
                    <mat-select formControlName="year">
                        <mat-option *ngFor="let year of years" [value]="year.viewValue">
                            {{year.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="col-sm-3" style="margin-Top:20px;">
                <label>
                    <img src="../../../../assets/attachment.png" class="icon" style="height: 25px;cursor: pointer;"
                        (click)="inputFile.click()" />
                        <!-- <mat-icon color="primary">
                                check_circle</mat-icon> -->
                    <!--<h3 >Attachment  </h3> -->
                </label>
                <input name="file" id="file"(change)="upload($event)" type="file" #inputFile hidden>
            </div>
            <div class="col-sm-3" style="margin-top: 20px;">
                <!-- <input type="file" id="tCertificate" (change)="Onfilesave($event,0)" style="visibility: hidden;"
                 formControlName="attachment"> -->
            </div>
        </div>
    </div>
    <div class="footer-n-stu">
   
        
        <button type="button" class="gradient-button" (click) = "submit()">Submit</button>
      
      </div>
      <p>{{eletterfrm.value|json}}</p>
</form>