.headerstyle
{   background-color: 	#f2f2f2;
    height: 60px;
   padding: 15px;
    font-size: 5px;
    color:	#676360;
}
.field{
margin-top: -20px;
font-size:14px;
color:	#676360;
}
table{
    width:90%;
    margin-left:2%;
   
}
.icon{
    height: 20px;
    width: 20px;
}
.subjectsName{
    margin-left: 70px; 
    background-color:#f27200;
    color: white;
    padding: 5px; 
    margin-bottom: 50px; 
    font-size:medium;
}
.mat-row:nth-child(2n+1){
    background-color: #e4f0ec;
  }
  .mat-row:not(:nth-child(4n+1)){
    background-color:#ffffff;
  }