<div class="row headerstyle">
    <h2>List Bus Trips</h2>
    
    <div class="right-content">
        <ul type="none" class="profile-name">
            <li style="font-size: 22px;margin-top: -15px;">Count:{{rows}}</li>
          </ul>
        <img src="../../../assets/plus.png" alt="profile" (click)="callNewBusTrips()"
            style="height:30px;margin-top:-10px;margin-right: 40px;cursor: pointer;">
    </div>
    <table mat-table [dataSource]="ListbusTrips"> 
        <!--TripNumber-->
        <ng-container matColumnDef="TripNumber">
            <th mat-header-cell *matHeaderCellDef> Trip Number </th>
            <td mat-cell *matCellDef="let element"> {{element.TripNumber}} </td>
        </ng-container>

        <!--busNumber-->
        <ng-container matColumnDef="busNumber">
            <th mat-header-cell *matHeaderCellDef> Bus Number </th>
            <td mat-cell *matCellDef="let element"> {{element.busNumber}} </td>
        </ng-container>

        <!--driverName-->
        <ng-container matColumnDef="driverName">
            <th mat-header-cell *matHeaderCellDef> Driver Name </th>
            <td mat-cell *matCellDef="let element"> {{element.driverName}} </td>
        </ng-container>

        <!--driverNumber-->
        <ng-container matColumnDef="driverNumber">
            <th mat-header-cell *matHeaderCellDef> Driver Number </th>
            <td mat-cell *matCellDef="let element"> {{element.driverNumber}} </td>
        </ng-container>

         <!--totalNoOfStudent-->
         <ng-container matColumnDef="totalNoOfStudent">
            <th mat-header-cell *matHeaderCellDef> Total Number of Student </th>
            <td mat-cell *matCellDef="let element"> {{element.totalNoOfStudent}} </td>
        </ng-container>

        <!--actions-->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <img src="../../../../assets/edit.png" class="icon" style="margin-right: 10px; cursor: pointer;"
                    (click)="editBustrips(element)" />
                <img src="../../../../assets/trash.png" class="icon" (click)="removeBusTrips(element)"
                    style="margin-right: 10px; cursor: pointer;" />
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        <!-- (click)="removeStaff({{element.id}}) -->
    </table>
</div>
