<div class="row headerstyle">
    <div class="col-sm-5">
        <h2>Track my bus</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 wordstyle" style="border-spacing:0 5px;" >
        <table style="float:left;">
            <tr class="space">
                <td>
                    <p>Student Name:</p>
                </td>
                <td>
                   <p>value1</p>
                </td>
            </tr>
            <tr class="space">
                <td>
                    <p>Class:</p>
                </td>
                <td>
                    <p>value2</p>
                </td>
            </tr>
            <tr class="space">
                <td>
                    <p>Buss Number:</p>
                </td>
                <td>
                    <p>value3</p>
                </td>
            </tr>
            <tr class="space">
                <td>
                    <p>Driver Name:</p>
                </td>
                <td>
                    <p>value4</p>
                </td>
            </tr>
            <tr class="space">
                <td>
                    <p>Driver Number:</p>
                </td>
                <td>
                    <p>value5</p>
                </td>
            </tr>
            <tr class="space">
                <td>
                    <p>Status:</p>
                </td>
                <td>
                    <p>value6</p>
                </td>
            </tr>
            <tr class="space">
                <td>
                    <p>Arrival Time:</p>
                </td>
                <td>
                    <p>value7</p>
                </td>
            </tr>

        </table>
    </div>
    <div class="col-sm-6">
    </div>
</div>