.bg-app-bar{
background-color: white;
}
.headerImage{
    height:60px; 
    margin-left:35%;
}

.menuIcon{
    outline: none;
      
}
.profile-name{
   
    line-height: 1.2;
   margin-right: 15px;
   margin-top: 15px;
    
}
.help-btn{
    margin-top:5px;
    margin-left:15px;
    background-color: rgb(242, 114, 0);
    color: white;

}
