<app-header-action [index]='0'></app-header-action>
<mat-tab-group [(selectedIndex)]="selectedTab">

<mat-tab>
    <ng-template mat-tab-label>
      Student Details
      <mat-icon *ngIf="stuFormtDetails[0]!=null && stuFormtDetails[0]" color="primary">check_circle</mat-icon>
    </ng-template>
    <app-student-details [getFormValues]="_student"(stuFormtDetails)="setTabFormDetails($event,0)" #dt></app-student-details>
  </mat-tab>
  
  <mat-tab>
    <ng-template mat-tab-label>
      Parents/Guardian Details 
      <!-- stuFormtDetails[1]!=null && stuFormtDetails[1] -->
      <mat-icon *ngIf="stuFormtDetails[1]!=null && stuFormtDetails[1]" color="primary">check_circle</mat-icon>
    </ng-template>
    <app-parents-guardian-details (stuFormtDetails)="setTabFormDetails($event,1)" #dt></app-parents-guardian-details>
  </mat-tab>
  
  
  <!-- <mat-tab>
    <ng-template mat-tab-label>
      Documents
      <mat-icon *ngIf="stuFormtDetails[2]!=null && stuFormtDetails[2]" color="primary">check_circle</mat-icon>
    </ng-template>
    <app-document (stuFormtDetails)="setTabFormDetails($event,2)" #dt></app-document>
  </mat-tab> -->
</mat-tab-group>

<div class="footer-n-stu">

  <button type="button" class="gradient-button" (click)="btnMovement('bck')" [disabled]="selectedTab<=0">
    Back
  </button>
  <button type="button" class="gradient-button" (click)="btnMovement('frd')">
    <span *ngIf="!(selectedTab>=1)">Next</span>
    <span *ngIf="(selectedTab>=1)">Submit</span>
  </button>
</div>

