<form [formGroup]="inventoryDefectForm" class="p-base">
    <div class="container-fluid" style="margin-top:5px" formArrayName="InventoryDefects">
        <div [formGroupName]="i" *ngFor="let address of defect.controls; let i=index">
            <div class="row">
                <div class="col-sm-3">
                    <mat-form-field appearance="standard">
                        <mat-label attr.for="{{'itemName' + i}}">Item Code</mat-label>
                        <input id="{{'itemName' + i}}" matInput formControlName="itemName">
                        <input  id="{{'inventoryDefectId' + i}}" #myInput [hidden]="true" formControlName="inventoryDefectId">
                    </mat-form-field>   
                    
                        <!-- <input  id="{{'inventoryDefectId' + i}}" #myInput [hidden]="true" formControlName="inventoryDefectId"> -->
                   
                </div>

                <div class="col-sm-3">
                    <mat-form-field appearance="standard">
                        <mat-label attr.for="{{'itemCode' + i}}">Item Name</mat-label>
                        <input id="{{'itemCode' + i}}" matInput formControlName="itemCode">
                    </mat-form-field> 
                </div>
                <div class="col-sm-3">
                    <mat-form-field appearance="fill" style="width:350px;">
                        <mat-label attr.for="{{'defectDesc' + i}}">Defect Desciption</mat-label>
                        <textarea id="{{'defectDesc' + i}}" matInput formControlName="defectDesc"></textarea>
                    </mat-form-field>
                </div>
                
                <img *ngIf="address.enabled" src="../../../../assets/save.png" (click)="changeandunchange(true,i)" 
                class="icon" style="margin-Top: 25px; cursor: pointer; width: 25px;height: 25px;float:right">

                <img *ngIf="address.disabled"  src="../../../../assets/edit.png" (click)="changeandunchange(false,i)" 
                class="icon" style="margin-Top: 25px; cursor: pointer; width: 25px;height: 25px;float:right">

                <img *ngIf="enabletrash" src="../../../../assets/trash.png" (click)="deleteDefect(i)" 
                class="icon"
                    style="margin-Top: 25px; cursor: pointer; width: 25px;height: 25px;float:right;padding-left:5px;"/>

                <!-- <mat-icon style="cursor: pointer;" color="primary"(click)="CreateInventoryDefect()">check_circle</mat-icon>
                <img src="../../../../assets/trash.png" class="icon"
                style="margin-Top: 25px; cursor: pointer; width: 25px;height: 25px;float:right" /> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-1">
                <img src="../../../assets/plus.png" (click)="addDefects()" alt="profile" style="height:55px;">
            </div>
        </div>

    </div>

    <!-- <button (click) = "addDefects()"> Add Experience</button> -->
</form>
<!-- 
<p>
    {{inventoryDefectForm.value | json}}
</p> -->
