<div class="row headerstyle">
    <h2>eLetter List</h2>
    
    <div class="right-content">
        <img src="../../../assets/filter.png" alt="profile" style="height:30px;margin-top:-10px;margin-right: 20px; cursor: pointer;" (click)="filterToggle()">
        <img src="../../../assets/plus.png" alt="profile" (click)="callNewELetter()" style="height:30px;margin-top:-10px;margin-right: 40px;cursor: pointer;">
    </div>
</div>
<div class=" fileterStyle" *ngIf="filters">
    <form [formGroup]="eletterfilters">
        <div class="container-fluid" style="margin-top:5px">
            <div class="row">
                <div class="col-sm-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Letter Type</mat-label>
                        <mat-select formControlName="leavetypeFilter" (selectionChange)="applyFilter('leavetypeFilter')">
                            <mat-option *ngFor="let leavetypeFilter  of letterType " [value]="leavetypeFilter.viewValue">
                                {{leavetypeFilter .viewValue}} 
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Month</mat-label>
                        <mat-select formControlName="monthFilter" (selectionChange)="applyFilter('monthFilter')">
                            <mat-option *ngFor="let monthFilter  of monthList " [value]="monthFilter .viewValue">
                                {{monthFilter .viewValue}} 
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Year</mat-label>
                        <mat-select formControlName="yearfilter" (selectionChange)="applyFilter('yearfilter')">
                            <mat-option *ngFor="let yearfilter of years" [value]="yearfilter.viewValue">
                                {{yearfilter.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2*">
                    <div class="right-content" style="margin-top:5px;">
                        <ul type="none" class="profile-name">
                          <li>Count:{{rows}}</li>
                          <br><br>
                          <!-- <li>Clear_All</li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
    <!-- <div class="row headerstyle">

    </div> -->

<!-- <label>
    <input type="text" [formControl]="name" placeholder="Search">
  </label>
  <button (click)="updateName()">click</button>
  <p>{{name.value}}</p> -->
<table mat-table [dataSource]="eLetterList" class="mat-elevation-z6">

    <!--staffName-->
    <ng-container matColumnDef="staffName">
        <th mat-header-cell *matHeaderCellDef> Staff Name </th>
        <td mat-cell *matCellDef="let element"> {{element.staffName}} </td>
        
    </ng-container>

    <!--employeeID-->
    <ng-container matColumnDef="employeeID">
        <th mat-header-cell *matHeaderCellDef> Employee ID </th>
        <td mat-cell *matCellDef="let element"> {{element.empid}} </td>
    </ng-container>

    <!--letterType-->
    <ng-container matColumnDef="letterType">
        <th mat-header-cell *matHeaderCellDef> Letter type </th>
        <td mat-cell *matCellDef="let element"> {{element.letterType}} </td>
    </ng-container>

    <!--Month-->
    <ng-container matColumnDef="month">
        <th mat-header-cell *matHeaderCellDef> Month </th>
        <td mat-cell *matCellDef="let element"> {{element.month}} </td>
    </ng-container>

    <!--Year-->
    <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Year </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <!--attachment-->
    <ng-container matColumnDef="attachment">
        <th mat-header-cell *matHeaderCellDef> Attachment </th>
        <td mat-cell *matCellDef="let element"> {{element.attachment}} </td>
    </ng-container>

    

     <!--actions-->
     <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <img src="../../../../assets/mind-map.png" class="icon" style="margin-right: 10px;"/>
            <img src="../../../../assets/edit.png" class="icon" (click)="editStaffeLetter(element)" style="margin-right: 10px;"/>
             <img src="../../../../assets/trash.png" class="icon" (click)="removeStaffeLetter(element)" style="margin-right: 10px; cursor: pointer;"/> 
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    <!-- (click)="removeStaff({{element.id}}) -->
</table>