<form [formGroup]="busDetailForm" class="p-base">
    <div class="container-fluid" style="margin-top:5px">
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Bus Type</mat-label>
                    <mat-select formControlName="busTypeid">
                        <mat-option *ngFor="let bus of bustype" [value]="bus.value">
                            {{bus.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>    
                <mat-form-field appearance="standard">
                    <mat-label>Company</mat-label>
                    <input matInput formControlName="company">
                </mat-form-field>    
                <mat-form-field appearance="standard">
                    <mat-label>No.of.Seats</mat-label>
                    <input matInput formControlName="seatCount">
                </mat-form-field> 
                <mat-form-field appearance="standard">
                    <mat-label>Bus Number</mat-label>
                    <input matInput formControlName="busNumber">
                </mat-form-field>   
                <mat-form-field appearance="standard">
                    <mat-label>Insurence Policy Number</mat-label>
                    <input matInput formControlName="insurancePolicyNum">
                </mat-form-field> 
                <mat-form-field appearance="standard">
                    <mat-label>Admision Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="insuranceEndDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>send Notification</mat-label>
                    <mat-select formControlName="notificationSpanId">
                        <mat-option *ngFor="let notification of sendNotification" [value]="notification.value">
                            {{notification.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>   
            </div>
        </div>
    </div>

</form>