<app-header-action [index]='14'></app-header-action>
<div class=" percentagebar">
    <div class="container-fluid" style="margin-top:-5px">
        <div class="row" style="font-size: 12px;">
            <div class="col-sm-4">
                <p style="margin-top: 10px;">Name:</p>
                <p style="margin-top: -5px;">Admission Number/EmployeeID:</p>
            </div>
            <div class="col-sm-4">
                <p style="margin-top: 10px;">Class:</p>
                <p style="margin-top: -5px;">Department:</p>
            </div>
           <div class="col-sm-3">

           </div>
            <div class="col-sm-1">
                <p style="margin-top: 10px;">My Leave Balance</p>
                <p style="margin-top: -5px;">My Leave History</p>
            </div>
        </div>
    </div>
</div>
<form [formGroup] = "leaveform" class="p-base">
    <div class="container-fluid" style="margin-top:5px">
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Leave Type</mat-label>
                    <mat-select formControlName="leavetype">
                        <mat-option *ngFor="let leave of leavetype " [value]="leave.value">
                            {{leave.viewValue}} 
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard"  >
                    <mat-label>Date From</mat-label>
                    <input matInput [matDatepicker]="datefrom">
                    <mat-datepicker-toggle matSuffix [for]="datefrom"  formControlName="datefrom"></mat-datepicker-toggle>
                    <mat-datepicker #datefrom></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Date To</mat-label>
                    <input matInput [matDatepicker]="dateto">
                    <mat-datepicker-toggle matSuffix [for]="dateto" formControlName="dateto"></mat-datepicker-toggle>
                    <mat-datepicker #dateto></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Leave Session</mat-label>
                    <mat-select formControlName="leavesession">
                        <mat-option *ngFor="let leavesec of leaveSession " [value]="leavesec.value">
                            {{leavesec.viewValue}} 
                        </mat-option> 
                    </mat-select>
                </mat-form-field>
 
                <p>No.of.Days: {{snodays}}</p>

                <mat-form-field appearance="standard">
                    <mat-label>Reason</mat-label>
                    <input matInput formControlName="reason" >
                </mat-form-field>
               
            </div>
            <!-- <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Date To</mat-label>
                    <input matInput [matDatepicker]="pickerToFilter3">
                    <mat-datepicker-toggle matSuffix [for]="pickerToFilter3"></mat-datepicker-toggle>
                    <mat-datepicker #pickerToFilter3></mat-datepicker>
                </mat-form-field>
            </div> -->
		</div>
       
	</div>
    <div class="footer-n-stu">
        <button type="button" class="gradient-button" style="padding:5px">
          <span>Apply Leave</span>
        </button>
        
      
      </div>

      <p>{{leaveform.value | json}}</p>

</form>