.headerstyle{background-color: #e8f6ff;
    height: 60px;
    padding: 15px;
    margin:5px;
    font-size: 40px;
    color:	#676360;
}
.percentagebar{background-color: #f2f2f2;
    height: 60px;
    font-size: 24px;
    color:	#676360;
}
table{
    width:90%;
    margin-left:2%;
   
}
.status-circle{
    height:25px;
    width: 25px;
    border-radius: 50%;
    background-color: grey;
}

.status-circle-bt{
   background-color: green;
}

